/* CSS Document */

#content {
	background-color: #F9F9F9;
	/*font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;*/
}

.text-shadow-white {
	text-shadow: 1px 1px 1px #EFEEEE;
}

.text-shadow-black {
    text-shadow: 2px 2px 8px #000000;
}

.elipsis-2-line {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	overflow: hidden;
	height: 35px;
}


/* Widget Panel */

.panel {
    position: relative;
    z-index: 11;
    overflow: visible;
	border-color: #d5d5d5;
    border-radius: 2px;
	/*font-family: 'Open Sans', verdana, arial;*/
    font-weight: 300;
}

.widget-h {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 0px 5px 0px;
    font-weight: 500;
}

.panel-heading-border {
    position: relative;
    padding: 0;
    min-height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 2px 2px 0 0;
    background: #fafafa;
	padding-left:10px;
}

.panel-title {
    color: #666666;
}

.panel-body-green {
	background-color: #17B2AB;
}

.panel-heading-border, .panel-title {
    padding-right: 8px;
    font-size: 12px;
}

.panel-title > .fa {
    min-width: 25px;
    margin-right: 8px;
    border-right: 1px solid #BAB0B0;
    color: #494444;
    font-size: 16px;
    top: 2px;
	padding-right: 10px;
}


.panel-body .panel-body-table .table {
    margin-bottom: 0px;
    border: 0px;
}

.panel .panel-body {
    padding: 15px 20px;
    position: relative;
    border-top: 1px solid #E6E7EC;
    color: #000;
    font-size: 12px;
}

.fa {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
}

.panel-heading-border + .panel-body {
    border-top-color: #e5e5e5;
}

.panel-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.user-label {
	display: block;
    color: #000;
    font-size: 11px;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab-content {
	background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-tabs {
	list-style: none;
    top: 0;
    right: 0;
    position: absolute;
    margin: 0;
    padding: 0;
}

.panel-tabs > li {
	float: left;
    border-left: 1px solid #E6E7EC;
    height: 50px;
    line-height: 50px;
}

.panel-tabs > li.active {
	background-color: #91D8DC;
    border-top: 3px solid #656B6B;
}

.panel-tabs > li.active a {
	font-weight: bold;
}

.panel-tabs > li > a {
    padding: 0 15px;
    font-size: 12px;
    color: #777;
}

.widget-label, .widget-label a {
	font-size: 12px;
	font-weight: bold;
}

.widget-title {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.widget-btn {
	padding-top: 15px;
}

.widget-btn a {
	font-size:11px;
}

.btn-glyphicon {
    padding: 5px;
    background: #ffffff;
    margin-right: 1px;
	border : 1px solid #D4D4D4;
	font-size: 12px;
}

.icon-btn {
    padding: 1px 11px 3px 2px;
    border-radius: 50px;
}


/* Notification System Alert */
@media (max-width: 767px) {
	.nav-dash {
		margin: 15px -15px;
	}
	
	.nav-task {
		margin: 15px -15px;
	}
}

.nav-dash {
    list-style: none;
    margin: 0 -20px 20px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.nav-task {
    list-style: none;
    margin: 0 -16px 0px;
    padding: 0;
    text-align: center;
    background-color: #fff;
}

.nav-dash>li {
    display: inline-block;
    margin: 0 10px;
}

.nav-task>li {
    display: inline-block;
   /* margin: 0 10px;*/
	width: 100px;
	vertical-align: top;
	height:125px;
}


@media (max-width: 767px) {
	.nav-dash>li>a {
		font-size: 22px;
		width: 62px;
		height: 62px;
		padding: 14px 8px 1px;
	}
	
	.nav-task>li>a {
		font-size: 22px;
		width: 62px;
		height: 62px;
		padding: 14px 8px 1px;
	}
}

@media (max-width: 991px) {
	.nav-dash>li>a {
		font-size: 26px;
		width: 72px;
		height: 72px;
		padding: 20px 12px 5px;
	}
	
	.nav-task>li>a {
		font-size: 26px;
		width: 72px;
		height: 72px;
		padding: 20px 12px 5px;
	}
}

.nav-dash>li>a {
    position: relative;
    font-size: 32px;
    line-height: 32px;
    color: #777;
    display: block;
	/*min-width:100px;*/
    height: 93px;
    padding: 3px;
    text-align: center;
    margin: 0 0 5px;
}

.nav-task>li>a {
    position: relative;
    font-size: 32px;
    line-height: 32px;
    color: #777;
    display: block;
	min-width:100px;
    height: 85px;
    padding: 3px;
    text-align: center;
    margin: 0 0 5px;
}

.nav-dash>li>a>.fa {
	padding: 10px;
    display: block;
}

.nav-task>li>a>.fa {
	padding: 10px;
    display: block;
}

.nav-dash>li>.task-label {
	font-size: 10px;
    font-family: 'Open Sans', verdana, arial;
    font-weight: bold;
}

.nav-task>li>.task-label {
	font-size: 10px;
    font-family: 'Open Sans', verdana, arial;
    font-weight: bold;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-color {
    background-color: #D69840;
}

a:hover {
	text-decoration:none;
}
/* End Notification System Alert */


/* Widget Profile */

.panel-overflow {
    overflow: hidden;
}

.profile-min-height {
	min-height: 306px;
}

.personal-info {
	margin: 0;
}

.personal-info tbody tr td {
    padding: 11px 15px;
    border-color: #eeeff1;
}

.personal-info tbody tr td i {
	font-size: 19px;
    color: #DE5521 !important;
}


.personal-info tbody tr:first-child td {
    border-top: 0;
}

.profile-title {
	font-size: 15px;
    font-weight: 700;
    margin: 10px;
	color: #444;
}

.text-bold {
	font-weight: 600;
}

.profile-upper {
	padding: 70px 30px;
	overflow: auto;
	text-align:center;
}

.profile-upper img {
	width: 180px;
    height: 180px;
    line-height: 60px;
}

.profile-footer {
	font-size: 15px;
	padding: 15px 8px;
	background-color: #fafafa;
    border-top: 1px solid #E6E7EC;
}

ul.ft-link {
    margin: 0;
    padding: 0;
}

ul.ft-link li {
    border-right: 1px solid #E6E7EC;
    display: inline-block;
    line-height: 30px;
    margin: 8px 0;
    text-align: center;
    width: 24%;
}

ul.ft-link li a {
    color: #74829c;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

ul.ft-link li a i {
    display: block;
	font-size: 22px;
    color: #A287D4;
}

ul.ft-link li:last-child {
    border-right: none;
}
/* End Widget Profile */



/* Widget Project Team */
.users-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.users-list>li {
    width: 25%;
    float: left;
    padding: 10px 1% 0 1%;
    text-align: center;
}

.users-list>li img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-size: 10px;
    margin-top: 5px;
}

.users-list-name  {
    display: block;
}
/* End Widget Project Team */


/* Widget Author */
ul.top_author {
    height: 330px;
    width: 100%;
}

ul.top_author li:nth-child(odd) {
    background-color: #eee;
}

ul.top_author li {
    margin: 0;
    padding: 3px 5px;
}

.media .profile_thumb {
    border: 1px solid;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 9px 12px;
}

.border-aero {
    border-color: #9CC2CB !important;
}

.media .profile_thumb i {
    font-size: 30px;
}

.aero {
    color: #9CC2CB;
}


/* Widget List */
.widget-list {
    margin: 0;
    padding: 0px 0px;
    list-style: none;
}

.transparent-bg {
	background:rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}

.widget-list>li {
    padding: 5px;
    margin-bottom: 8px;
    border-left: 2px solid #e6e7e8;
	background-color: #eee;
}

.widget-list>li .text {
    line-height: 24px;
    height: 25px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    vertical-align: middle;
    font-size: 11px;
}

/* Widget Project List */
.project-tbl {
	margin-bottom: 0;
}

.table-responsive {
    border: 0px;
}

.panel-body-table {
    padding: 0px;
}

.panel-body.panel-body-table .table tr > th:first-child {
    border-left: 0px;
}

.project-tbl > thead > tr {
	border-top: 6px solid #F0F4F9;
}

.project-tbl > thead > tr > th {
    background: #FFF;
    color: #333;
    font-size: 11px;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #dee7f2;
}

.project-tbl > tbody > tr:nth-child(odd) > td {
	background: #F8FAFC;
}

.project-tbl > tbody > tr > td {
    border-color: transparent;
    padding: 10px 8px;
    background: #F0F4F9;
    color: #656C78;
	border-bottom: 1px solid #dee7f2;
}

.progress-bar-warning {
	background-color: #F0AD4E;
    color: #f8f8f8;
    border-color: #F0AD4E;
}

.progress-bar-info {
	background-color: #45B4D5;
    color: #f8f8f8;
    border-color: #A3DFEC;
}

.progress-bar-success {
	background-color: #3C963B;
    color: #f8f8f8;
    border-color: #93C18B;
}

/* End Project List Widget */


/* Navigation Dashboard */

.page-header {
	list-style:none;
	margin:0;
	padding:0;
}

.page-title {
    float: left;
    margin: 20px 10px;
    padding-right: 30px;
    padding-left: 15px;
}

.page-title>h2 {
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.page-title span {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

.nav-dashboard {
	margin: 0;
    padding: 0;
}

.tabs-icon{
	font-size: 23px;
    display: block;
	color: #fff;
	margin-bottom: 5px;
}

.tabs-title {
	font-size:14px;
}

.hexagon-blue {
	background: #91d8dc;
}

.hexagon-blue:before {
	border-bottom: 25px solid #91d8dc;
}

.hexagon-blue:after {
	border-top: 25px solid #91d8dc;
}

.hexagon-pink {
	background: #e0a2b7;
}

.hexagon-pink:before {
	border-bottom: 25px solid #e0a2b7;
}

.hexagon-pink:after {
	border-top: 25px solid #e0a2b7;
}

.hexagon-gray {
	background: #baafb3;
}

.hexagon-gray:before {
	border-bottom: 25px solid #baafb3;
}

.hexagon-gray:after {
	border-top: 25px solid #baafb3;
}

.hexagon-yellow {
	background: #EDDC99;
}

.hexagon-yellow:before {
	border-bottom: 25px solid #EDDC99;
}

.hexagon-yellow:after {
	border-top: 25px solid #EDDC99;
}

.hexagon-purple {
	background: #94badf;
}

.hexagon-purple:before {
	border-bottom: 25px solid #94badf;
}

.hexagon-purple:after {
	border-top: 25px solid #94badf;
}

.hexagon-small-purple {
	background: #94badf;
}

.hexagon-small-purple:before {
	border-bottom: 20px solid #94badf;
}

.hexagon-small-purple:after {
	border-top: 20px solid #94badf;
}


#hexagon {
	width: 76px;
	height: 36px;
	position: relative;
	top: 24px;
	margin: 0 auto;
}

#hexagon-small {
	width: 70px;
	height: 35px;
	position: relative;
	bottom: -17px;
}

#hexagon>.badge {
	background-color: #CC3E1E;
}

#hexagon>.badge, .nav-dash>li>a>.label {
    position: absolute;
    top: -7px;
    right: -7px;
    margin: 0 0 0 3px;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
}

#hexagon-small>.badge, .nav-dash>li>a>.label {
    position: absolute;
    top: -7px;
    right: -7px;
    margin: 0 0 0 3px;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
}

#hexagon:before {
	content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
}

#hexagon-small:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
}

#hexagon:after {
	content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
}

#hexagon-small:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
}

#hexagon>i.fa {
	font-size:35px;
	color: #fff;
}

#hexagon-small>i.fa {
	font-size:32px;
	color: #fff;
}

/* End Navigation Dashboard */


/* Widget Awards & Evaluation */
.widget-awards, .widget-activity {
	padding: 5px;
}

.timer {
	display: none;
}

#awardstat .circliful , #activitystat .circliful {
	position: relative;
    bottom: 16px;
    padding: 0;
    margin: 0;
    clear: both;
}

svg > g {
	display: none;
}

.widget-awards .widget-awards-content , .widget-activity .widget-activity-content{
	font-size: 12px;
    font-weight: bold;
    position: relative;
    bottom: 22px;
	height: 70px;
}

.caption-down {
	overflow-y: auto;
    max-height: 190px;
}

.widget-activity .caption-down, .widget-awards .caption-down{
	color:#FFFFFF;
	z-index: 999;
}

.widget-activity .caption-down {
	background-color: #DF94AC;
}

.widget-awards .caption-down {
	background-color: #02AFA5;
}

/* End Widget Awards & Evaluation */

/* Widget Publication */
#pub-details {

}

#pub-details .panel {
	height: 190px;
    font-size: 13px;
	border: 1px solid #ddd;
}

#pub-tabs {
	margin-bottom: 10px;
    padding-top: 10px;
    background-color: #eee;
}

.nav-tabs>li>a {
	color: #000;
	font-weight: 500;
}

ul.dropdown-menu {
	background-color:#D6D6D6;
}

ul.dropdown-menu>li>a{
	color: #000;
}

ul.dropdown-menu>li>a:hover{
	color: #000;
	background-color: #eee;
}

ul.dropdown-menu>li.active>a {
	color: #000;
    background-color: #fff;
}

#pub-tabs li {
	cursor: pointer;
}

#pub-tabs li a{
	font-weight:bold;
	font-size: 12px;
}

.nav-tabs>li>a {
	background-color: #D6D6D6;
    box-shadow: 2px -2px 5px 0px #ddd;
}

.pub-details-top {
	/*position: relative;
    width: 45px;
    height: 65px;
    margin: 0 auto -31px;
    border: 2px solid rgba(255,255,255,0.3);
    color: #fff;
    transition: all ease-in-out .3s;
    background-color: #ddd;
    top: -38px; for icon */
	
	
    position: relative;
    width: 62px;
    height: 35px;
    margin: 0 auto -9px;
    border: 2px solid rgba(255,255,255,0.3);
    color: #fff;
    transition: all ease-in-out .3s;
    background-color: #ddd;
    top: -17px;
    padding-top: 7px;
}

.pub-details-top i {
	position: relative;
    bottom: -30px;
    font-size: 24px;
}

.pub-details-body {
	display: -webkit-box;
  	-webkit-line-clamp: 8;
  	-webkit-box-orient: vertical;  
}

.nav-tabs {
	margin-top: 15px;
	cursor: pointer;
	padding: 0 20px;
}

.nav-tabs .pub-tabs {
	margin: 0 5px -1px 5px;
    min-width: 150px;
}

/* End Widget Publication */

/* Start Widget Research Gallery */
.rsh-list {
	margin: 0;
    padding-left: 22px;
}

.rsh-list li {
	display: block;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #eeeff1;
}

.rsh-list>li>a {
	font-weight: 500;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	overflow: hidden;
}

.rsh-list>li.active:before, rsh-list>li.active> a {
	color:#006633;
}

.rsh-list li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
	text-decoration:none;
}
/* End Widget Research Gallery */

/* Start Widget Quick Links */
.widget-quick-links {
	height: 120px;
    padding: 10px;
    position: relative;
}

.quick-links-bg {	
	position: absolute;
    z-index: 1;
    right: -11px;
    top: -8px;
    font-size: 9em;
    color: #fff;
    -moz-opacity: 0.14;
    -khtml-opacity: 0.14;
    opacity: 0.14;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: opacity 0.3s linear, transform 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, transform 0.3s ease-out;
    -o-transition: opacity 0.3s linear, transform 0.3s ease-out;
    transition: opacity 0.3s linear, transform 0.3s ease-out;
}

.quick-links-content {
	text-align: left;
	margin-bottom: 10px;
	position: relative;
}

.quick-links-footer {
	z-index: 9999;
    position: relative;
	margin: 15px 0;
}

.quick-links-footer a {
	color: #fff;
    font-weight: bold;
    padding: 4px;
    background-color: #000;
    border-radius: 5px;
    font-size: 11px;
}

/* End Widget Quick Links */

/* Start Widget Statistics */
.widget-statistics .panel-body {
	border-top: 3px solid #91D8DC;
    top: -1px;
}

#morris-dash-chart svg, #morris-dash-chart2 svg, #graph-pub svg, #graph-conf svg,#graph-efinance svg,#graph-grant svg,#graph-supervision svg,#graph-consultancy svg{
    width:100%;
    height:250px;
}

#morris-dash-chart, #morris-dash-chart2, #graph-pub, #graph-conf,#graph-efinance,#graph-grant,#graph-supervision,#graph-consultancy{
    width:100%;
    height:260px;
	top: -14px;
}

#morris-dash-chart3{
    width:100%;
        height: 360px;
    top: -20px;
}

.cBox {
    position: relative;
}

.cBox input {
    margin: 0;
}

.cBox label {
    cursor: pointer;
    color: #444;
    font-size: 11px !important;
    font-weight: bold;
    padding-left: 10px;
    margin: 0;
}

.cBox label:before {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    background-color: #f2f2f2;
}

.cBox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.cBox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 5px;
    top: 5px;
    left: 3px;
    border: 3px solid #FFF;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-58deg);
    -moz-transform: rotate(-58deg);
    -o-transform: rotate(-58deg);
    -ms-transform: rotate(-58deg);
    transform: rotate(-58deg);
}

.cBox.book-bg label:before {
    background-color: #31c0be;
}

.cBox.scopus-bg label:before {
    background-color: #FD7DA6;
}

.cBox.isi-journal-bg label:before {
    background-color: #DFC660 ;
}

.cBox.article-bg label:before {
    background-color: #333 ;
}

.cBox.cpbook-bg label:before {
    background-color: #8D0303 ;
}

.chart-title {
	text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 9999;
    background-color: #fff;
    margin: 10px 0;
}

.toggle-footer {
	padding: 0;
    list-style: none;
    text-align: center;
}

.toggle-footer .toggle {
	display: inline-block;
	margin: 10px;
}

.panel-statistics {
	height: 405px;
}


/* End Widget Statistics */

/* Start nav tabs style */
.nav-tabs-blue {
	border-bottom: 7px solid #070071 !important;
}

.nav-tabs-blue>li {
	margin-bottom: 0 !important;
}

.nav-tabs-blue>li>a {
	font-weight: bold !important;
}

.nav-tabs-blue>li.active>a {
	color: #fff !important;
    background-color: #070071 !important;
}
/* End nav tabs style */

.sectionTitle {
    font-weight: bold;
    font-size: 14px;
    font-family: tahoma;
    color: #000;
    padding: 0;
    margin: 20px 0 10px 0;
}

.warning-note {
    font-size: 11px !important;
    color: #CC0000 !important;
}

label {
	font-size: 12px !important;
	color: #000 !important;
}

.form-control-static {
	color: #000 !important;
}

.btn-xs > i{
	font-size: 12px !important;
	color: #fff !important;
}

.btn-xs > span{
	color: #fff !important;
	font-weight: bold !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-l-15 {
	padding-left: 15px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-l-0 {
	padding-left: 0 !important;
}

.p-r-0 {
	padding-right: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.b-0 {
	border: 0 !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-t-b-15 {
    margin: 15px 0 !important;
}

.panel-body {
    position: relative !important;
}

.text-center {
    text-align: center !important;
}

a {
    text-decoration: none !important;
}

.c-dark {
    color: #343434 !important;
}

.c-gray {
    color: #8F8F8F !important;
}

.c-white {
    color: #FFFFFF !important;
}

.c-turqois {
	color: #32D2C9 !important;
}

.c-pink {
	color: #ED5D5D !important;
}

.c-orange {
	color: #F0AD4E !important;
}

a:hover {
	text-decoration:none !important;
}

.text-size-small {
	font-size: 11px !important;
}

.f-12 {
	font-size: 12px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-w-bold {
	font-weight: bold !important;
}

.f-w-500 {
	font-weight: 500 !important;
}

.float-right {
	float: right !important;
}

.link-more {
	float: right !important;
}

.link-more a {
	font-size: 12px !important;
}

.bg-orange {
	background-color: #CF9243 !important; /*#F0AD4E !important;*/
}

.bg-turqois {
	background-color: #4BC8C6 !important;
}

.bg-purple {
	background-color: #C7B7E5 !important;
}

.bg-pink {
	background-color: #DA7A99 !important;
}

.bl-turqois {
	border-left: 7px solid #32D2C9 !important;
}

.bl-default {
	/*border-left: 7px solid #656B6B !important;*/
}

h4 {
    font-size: 15px !important;
}

.row-fluid {
 	white-space: normal !important;
}

h5 {
    font-size: 10px !important;
	line-height: 18px !important;
	font-weight: 700 !important;
}

h6 {
    font-size: 11px !important;
    color: #999999 !important;
}